@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: var(--font-cormorant);
  --font-body: var(--font-nunito);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: #F7F4F1;
  color: #6F745C;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}